[submodule "repos/orchestrator"]
	path = repos/orchestrator
	url = https://github.com/Limespaces/limespaces-orchestrator.git
[submodule "repos/images"]
	path = repos/images
	url = https://github.com/Limespaces/limespaces-images
[submodule "repos/dashboard"]
	path = repos/dashboard
	url = https://github.com/Limespaces/limespaces-dashboard.git
[submodule "repos/shared"]
	path = repos/shared
	url = https://github.com/Limespaces/limespaces-shared
