# NextAuth
AUTH_SECRET= # generate a random 32 character hex string

# OIDC (eg. keycloak or logto)
AUTH_OIDC_CLIENT_ID=
AUTH_OIDC_CLIENT_SECRET=
AUTH_OIDC_CLIENT_ISSUER=https://keycloak.example.com/realms/my-realm

# Dashboard config
DASHBOARD_URL=http://localhost:3000

# Orchestrator config
ORCHESTRATOR_URL_SERVER_SIDE=http://orchestrator:3000/api
NEXT_PUBLIC_ORCHESTRATOR_URL=http://localhost:3001/api