DASHBOARD_ORIGIN=http://localhost:3000

DATABASE_URL=postgresql://limespaces:limespaces@postgres:5432/limespaces?schema=public
REDIS_PASSWORD=limespaces

OIDC_ISSUER=https://keycloak.example.com/realms/my-realm
OIDC_JWKS=https://keycloak.example.com/realms/my-realm/protocol/openid-connect/certs
OIDC_AUDIENCE=http://localhost:3001
OIDC_REQUIRED_REALM_ROLE=
OIDC_REQUIRED_CLIENT_ROLE=
OIDC_CLIENT_ID=limespaces-dashboard-devel

DOCKER_SOCKET_PATH=/var/run/limespaces/docker.sock
WORKSPACE_REGISTRY=limespaces-registry:5000
